body {
  background-color: #0e1630;
  font-family: 'Quicksand', sans-serif;
  color: #706e8e;
}

nav {
  background-color: #0e1630;
  font-family: 'Quicksand', sans-serif;
}

#navbarSupportedContent ul li a {
  color: #706e8e;
}

#navbarSupportedContent ul li a:hover {
  color: #03b672;
  font-weight: 600;
}

.responsiveIcons{
  font-size: 12.5px;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #0e1630;
}

::-webkit-scrollbar-thumb {
  background-color: #03b672;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03b672;
}

i:hover {
  color: #03b672;
}

.homeBtn {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: none;
  font-size: 27px;
  padding: 5px 15px;
}

@keyframes glowing{
  0% {
    background-color: #171f38;
    box-shadow: 0 0 5px #171f38;
  }
  50% {
    background-color: #03b672;
    box-shadow: 0 0 20px #03b672;
  }
  100% {
    background-color: #171f38;
    box-shadow: 0 0 5px #171f38;
  }
}

.homeBtn {
  animation: glowing 2000ms infinite;
}

.homeBtn:hover {
  animation: glowing 1300ms infinite;
}

.homeBtn2 {
  border-radius: 5px;
  background-color: #424c68;
  text-align: center;
  transition: all 0.5s;
}

.homeBtn2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.homeBtn2:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 4px;
  right: -20px;
  transition: 0.5s;
}

.homeBtn2:hover {
  padding-right: 24px;
  background-color:#03b672;
  padding-left: 8px;
}

.homeBtn2:hover:after {
  opacity: 1;
  right: 10px;
}

#content {
  font-size: large;
  line-height: 40px;
}

.section {
  margin-top: 100px;
}

#edit {
  margin-bottom: 90px;
  color: white;
  font-size: x-large;
}

#content_small {
  font-size: large;
  background-color:#171f38;
  line-height: 30px;
  box-shadow: 0 10px 20px -6px rgba(0, 0, 0, .7);
  border-radius: 10px;
}

.card {
  background-color: #171f38;
  margin-bottom: 28px;
  border-radius: 10px;
  color: #706e8e;
  padding: 10px;
}

.card-img-top{
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.footer {
  font-size: large;
  line-height: 25px;
}

.footer p i {
  color: #03b672;
  margin-right: 20px;
}

.footer i{
  color:#706e8e;
} 

.footer i:hover{
  color:#03b672;
} 

.form-control{
  border-color: transparent;
  border-radius: 10px;
}

#success {
  color: #3AA3E7;
  display: none;
  animation: 3s linear;

}

#scrollUp {
  bottom: 20px;
  right: 20px;
  background-image: url(./images/top.png);
  height: 38px;
  width: 38px;
  border-radius: 25px;
}

.form-control::placeholder {
  color: #706e8e;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #706e8e;
}

.form-control::-ms-input-placeholder {
  color: #706e8e;
}

#formButton:hover {
  background-color: #3AA3E7;
}

@media (max-width: 576px) {
  .responsiveFooter {
    margin-top: 50px;
  }

  #navbarSupportedContent ul li a{
    text-align: end;
    margin-bottom: 8px;
    margin-right: 10px;
  }

  .responsiveImage1 {
    height: 285px;
    width: 280px;
    margin-bottom: 40px;
    order: 1;
  }

  .responsiveImage2 {
    width: 315px;
    height: 320px;
  }

  #responsiveOrder1 {
    order: 2;
    text-align: center;
  }

  #responsiveImage2 {
    text-align: center;
  }

  #responsiveContent {
    margin-bottom: 40px;
  }
}

@media (max-width:576px) {
  .responsiveIcons{
    display: none;
 }
}