body {
  background-color: #0e1630;
  font-family: 'Quicksand', sans-serif;
  color: #706e8e;
}

.navbar-brand{
  font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: #0e1630;
  font-family: Arial, Helvetica, sans-serif;
}

#navbarSupportedContent ul li a {
  color: #706e8e;
}

#navbarSupportedContent ul li a:hover {
  color: #03b672;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #0e1630;
}

::-webkit-scrollbar-thumb {
  background-color: #03b672;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03b672;
}

i:hover {
  color: #03b672;
}

.homeBtn {
  border-radius: 5px;
  border-color: #03b672;
  text-align: center;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.homeBtn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.homeBtn:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 7px;
  right: -20px;
  transition: 0.5s;
}

.homeBtn:hover {
  padding-right: 24px;
  background-color: #03b672;
  padding-left: 8px;
}

.homeBtn:hover:after {
  opacity: 1;
  right: 10px;
}

.homeBtn2 {
  border-radius: 5px;
  border-color: #03b672;
  text-align: center;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.homeBtn2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.homeBtn2:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 4px;
  right: -20px;
  transition: 0.5s;
}

.homeBtn2:hover {
  padding-right: 24px;
  background-color:#03b672;
  padding-left: 8px;
}

.homeBtn2:hover:after {
  opacity: 1;
  right: 10px;
}

#content {
  font-size: large;
  line-height: 40px;
}

.section {
  margin-top: 100px;
}

#edit {
  margin-bottom: 50px;
  color: white;
}

#edit2 {
  margin-bottom: 90px;
}

#content_small {
  font-size: large;
  line-height: 30px;
  box-shadow: 0 10px 20px -6px rgba(0, 0, 0, .7);
  border-radius: 10px;
}

.card {
  background-color: #0e1630;
  border-color: #03b672;
  margin-bottom: 30px;
  color: #706e8e;
}

#cards:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);

}

.footer {
  font-size: large;
  line-height: 25px;
}

.footer p i {
  color: #03b672;
  margin-right: 20px;
}

.footer i{
  color:#706e8e;
} 

.footer i:hover{
  color:#03b672;
} 


#success {
  color: #3AA3E7;
  display: none;
  animation: 3s linear;

}

#scrollUp {
  bottom: 20px;
  right: 20px;
  background-image: url(./images/top.png);
  height: 38px;
  width: 38px;
  border-radius: 25px;
}

.form-control::placeholder {
  color: #706e8e;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #706e8e;
}

.form-control::-ms-input-placeholder {
  color: #706e8e;
}

#formButton:hover {
  background-color: #3AA3E7;
}

@media (max-width: 576px) {
  .responsiveFooter {
    margin-top: 50px;
  }

  #navbarSupportedContent ul li a{
    text-align: end;
    margin-bottom: 8px;
    margin-right: 10px;
  }

  .responsiveIcons{
     display: none;
  }

  .responsiveImage1 {
    height: 290px;
    width: 285px;
    margin-bottom: 40px;
    order: 1;
  }

  .responsiveImage2 {
    width: 340px;
    height: 345px;
  }

  #responsiveOrder1 {
    order: 2;
    text-align: center;
  }

  #responsiveImage2 {
    text-align: center;
  }

  #responsiveContent {
    margin-bottom: 40px;
  }
}