body {
  background-color: #0e1630;
  font-family: 'Quicksand', sans-serif;
  color: #808dad;
}

nav {
  background-color: #0e1630;
  font-family: 'Quicksand', sans-serif;
}

#navbarSupportedContent ul li a {
  color: #808dad;
}

#navbarSupportedContent ul li a:hover {
  color: #5be9b9;
  font-weight: 600;
}

#responsiveOrder1 {
  margin-top: 40px;
}

.topIcons a i{
  font-size: 13px;
}

.abouIcons a i{
  font-size: 16px;
}

.active-mouse {
  opacity: 0.1;
}

.responsiveIcons {
  font-size: 12.5px;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #0e1630;
}

::-webkit-scrollbar-thumb {
  background-color: #5be9b9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5be9b9;
}

i:hover {
  color: #5be9b9;
}

#fa-hover:hover{
  color: #5be9b9;
}

#text-image {
  opacity: 0.2;
}

#textTop {
  margin-top: 72px;
}

.homeBtn {
  -webkit-border-radius: 0.75rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 32px;
  padding: 7px 22px;
}

@keyframes glowing {
  0% {
    background-color: #111827;
    box-shadow: 0 0 18px #5be9b9;
  }

  50% {
    box-shadow: 0 0 30px #5be9b9;
  }

  100% {
    background-color: #111827;
    box-shadow: 0 0 19px #5be9b9;
  }
}

.homeBtn {
  animation: glowing 2700ms infinite;
}


@keyframes glowingAfter {
  0% {
    background-color: #111827;
    box-shadow: 0 0 28px #5be9b9;
  }

  50% {
    box-shadow: 0 0 38px #5be9b9;
  }

  100% {
    background-color: #111827;
    box-shadow: 0 0 28px #5be9b9;
  }
}

.homeBtn:hover {
  animation: glowingAfter 2000ms infinite;
}

.homeBtn2 {
  border-radius: 5px;
  background-color: #424c68;
  text-align: center;
  transition: all 0.5s;
  color: white;
}

.homeBtn2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.homeBtn2:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 4px;
  right: -20px;
  transition: 0.5s;
  color: black;
}

.homeBtn2:hover {
  padding-right: 24px;
  background-color: white;
  padding-left: 8px;
  color: black;
}

.homeBtn2:hover:after {
  opacity: 1;
  right: 10px;
}

#content {
  font-size: 16px;
  line-height: 30px;
}

.section {
  margin-top: 100px;
}

#edit {
  margin-bottom: 90px;
  color: white;
  font-size: x-large;
}

#content_small {
  background-color: #171f38;
  line-height: 30px;
  border-radius: 10px;
}

#content_small h4 {
  font-size: 18px;
}

.card{
  background-color: #171f38;
  margin-bottom: 28px;
  border-radius: 10px;
  color: #808dad;
  padding: 10px;
  font-size: 16px;
  line-height: 30px;
}

.card-project {
  background-color: #171f38;
  margin-bottom: 28px;
  border-radius: 10px;
  color: #808dad;
  padding: 10px;
  font-size: 16px;
  line-height: 30px;
}

.card-project h5,a {
  font-size: 18px;
}

.card-img-top {
  border-radius: 10px;
}

.card-project:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.footer {
  font-size: 16px;
  line-height: 30px;
}

.footer p i {
  color: #5be9b9;
  margin-right: 20px;
}

.footer i {
  color: #808dad;
}

.footer i:hover {
  color: #5be9b9;
}

.form-control {
  border-color: transparent;
  border-radius: 10px;
}

#success {
  color: #3AA3E7;
  display: none;
  animation: 3s linear;
}

#scrollUp {
  bottom: 20px;
  right: 20px;
  background-image: url(./images/top.png);
  height: 40px;
  width: 40px;
}

.form-control::placeholder {
  color: #808dad;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #808dad;
}

.form-control::-ms-input-placeholder {
  color: #808dad;
}

#formButton:hover {
  background-color: #3AA3E7;
}

@media (max-width: 576px) {
  .responsiveFooter {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  #navbarSupportedContent ul li a {
    margin-bottom: 8px;
    margin-right: 10px;
  }

  .responsiveImage1 {
    height: 285px;
    width: 280px;
    margin-bottom: 40px;
    order: 1;
  }

  .responsiveImage2 {
    width: 310px;
    height: 315px;
  }

  #responsiveOrder1 {
    order: 2;
    text-align: center;
  }

  #responsiveImage2 {
    text-align: center;
  }

  #responsiveContent {
    margin-bottom: 40px;
  }

  #textTop {
    margin-top: 40px;
  }

  #text-image {
    width: 400px;
    height: 170px;
    display: flex;
    justify-content: left;
  }
}